.header {
    background-image: linear-gradient(to bottom right, #172554, rgba(10, 19, 39, 0.9));
    border-bottom: 1px solid rgba(58, 145, 188, 0.5);
    backdrop-filter: blur(6px);
    color: white;
    position: sticky;
    top: 0;
    z-index: 40;
    padding: 1rem 2rem;
}

.container {
    max-width: 2000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo-area {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo-box {
    background: linear-gradient(135deg, var(--primary-500), var(--primary-700));
    color: white;
    width: 60px;
    height: 50px;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.2rem;

}

.title {
    color: white;
    font-size: 1.25rem;
    margin: 0;
    font-weight: 600;
}

.subtitle {
    color: var(--primary-300);
    font-size: 0.75rem;
    margin: 0;
}

.nav-desktop {
    display: flex;
    gap: 1.5rem;
}

.nav-desktop button {
    color: var(--primary-300);
    transition: color 0.3s;
    font-weight: 500;
}

.nav-desktop button:hover {
    color: white;
}

.nav-mobile {
    display: none;
}

@media (max-width: 500px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    .logo-area {
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }

    .nav-desktop {
        display: flex;
    }

    .nav-mobile {
        display: none;
        gap: 1.5rem;
        width: 100%;
        justify-content: center;
    }

    .nav-mobile button {
        color: var(--primary-300);
        font-weight: 500;
        transition: color 0.3s;
    }

    .nav-mobile button:hover {
        color: white;
    }
}