<header class="header">
    <div class="container">
        <div class="logo-area">
            <div class="logo-box">
                <span class="logo-letter">W</span>
            </div>
            <div>
                <h1 class="title">Wefin</h1>
                <p class="subtitle">Sistema de Conversão de Moedas</p>
            </div>
        </div>
        <nav class="nav-desktop">
            <button mat-button color="primary" [routerLink]="['/conversao']">Conversão</button>
            <button mat-button color="primary" [routerLink]="['/historico']">Histórico</button>
        </nav>
    </div>
</header>